.wrap {
    margin-bottom: 30px;
    .page_title {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.23;
        text-align: left;
        color: #14B1BD;
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: 0;
    }
}
.mat-area-chip{
    margin-bottom:15px;
}
.map-wrap{
    margin-bottom:25px;
}
.step-counter{
    display: flex;
    align-items: center;
    margin-bottom:15px;
    .icon{
        width:30px;
        height:30px;
        margin-right:8px;
        border-radius:2px;
        background:#E3EAF5;
    }
    p{
        font-size:16px;
        line-height:24px;
        color:#000000;
        margin-bottom:0;
        span{
            color:#6E6B6B;
        }
    }
}
.mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: #f3f3f3;
}
textarea{
    height:120px!important;
}
.form_group{
    margin-bottom:25px;
    @media (max-width: 1024px) {
        margin-bottom:15px;
    }
    @media (max-width: 767px) {
        margin-bottom:10px;
    }
}
.disc-wrap{margin-bottom:50px;}
.upload-wrapper{
    height:120px;
    border-radius:10px;
    border:1px dashed #c7c7c7;
    position: relative;
    .log-img {
        width: 100%;
        height:100%;
        border-radius:10px;
        position: relative;
        img{
            width:100%;
            height:100%;
            border-radius:10px;
            object-fit: cover;
            object-position: center center;
        }
        .mat-icon{
            position: absolute;
            top:-16px;
            right:-16px;
            z-index:99;
            width: 32px;
            height: 32px;
            background:#fc0000;
            border-radius:50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
        }
    }

    input{
        width:100%;
        height:100%;
        position: absolute;
        opacity:0;
        z-index:9;
    }
    span{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        font-size:16px;
        color:#6E6B6B;
    }
}
.back-btn{
    height: 36px;
    margin-right: 10px;
    border:solid 1px #6f6f6f;
    padding: 1px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #6f6f6f;
    background-color: #fff;
    border-radius: 5px;
}

.col-sm-12{
    width: 100%;
    padding: 0 15px;
}
.flex {   
    flex-wrap: wrap;
    .col-6 {   
        @media(max-width: 991px) {
            max-width: 100%;
            flex: 0 100%;
        }
    }
    .col-4 {
        @media(max-width: 991px) {
            max-width: 100%;
            flex: 0 100%;
        }
    }
}

.primary-btn{
    width: 400px;
    @media(max-width: 480px) {
        width: 100%;
    }
}