<div class="filter_main_wrapper">
    <div class="heading">
        <h3>FILTER BY</h3>
        <span class="close_btn" (click)="closeDialog()">
            <img src="assets/images/filter_close.svg" alt="">
        </span>
    </div>
    <form [formGroup]="userFilterForm">
        <div class="filter_body">          

            <div class="row">
                <mat-label class="inner_label"> Date of Creation
                    <span>
                        (Select Date Range)
                    </span>
                </mat-label>
                <div class="filter_col">
                    <app-date-filter class="app-date-filter" [dateObject]="userFilterObject.registrationDate"></app-date-filter>
                </div>
            </div>

            <div class="row">
                <mat-label>Status</mat-label>
                <div class="filter_col" *ngFor="let status of statusList; let i=index;">
                    <mat-checkbox [checked]="status?.checked" (change)="onSelectStatus($event,i)"
                        [value]="status?.value" class="example-margin">
                        {{status?.viewValue}}
                    </mat-checkbox>
                </div>
            </div>


            <div class="row">
                <mat-label>Working Days</mat-label>
                <div class="filter_col" *ngFor="let days of fullDayData; let i=index;">
                    <mat-checkbox [checked]="days?.checked" (change)="onSelectDays($event,i)" [value]="days?.value"
                        class="example-margin">
                        {{days?.viewValue}}
                    </mat-checkbox>
                </div>
            </div>


        </div>
        <div class="btn_wrap">
            <button class="primary-btn" (click)="applyFilter()">Apply Filter</button>
            <button class="btn_secondry" (click)="closeDialog()">Reset</button>
        </div>
    </form>
</div>