<div class="popup-wrapper">
    <div class="popup-inner">
        <figure>
            <img src="assets/icons/icon_info.svg" alt="Icon"/>
        </figure>
        <h3>Verification under process</h3>
       <p>Your registration request is still under review. we’ll let you know through notification/mail when it’s done.</p>
       <p>At this moment some featureso of platform may not be available without the completion of profile verification. </p>
       <div class="btn-wrap">
           <button (click)="close()" type="button" class="explore-btn">Explore platform</button>
           <button (click)="navigateToProfile()" type="button" class="logout-btn">Edit Profile</button>
       </div>
    </div>
</div>