.page_main_wrapper {
    width: 100%;
    height: 100%;
    .top_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        @media(max-width: 767px) {
            flex-direction: column;
        }
        .logo_col {
            width: 90px;
            height: 90px;
            @media(max-width: 767px) {
               margin-bottom: 20px;
            }
            img {
                width: 100%;
                height: 100%;
                transform: scale(1.8);
            }
        }
        .right_col{
            @media(max-width: 480px) {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                button{
                    width: 100%;
                    margin: 0 !important;
                    margin-bottom: 20px !important;
                }
            }
            button{
                margin-left: 15px;
                &:first-of-type{
                    margin-left: 0;
                }
            }
        }
    }
    .middle_sec {
        padding: 100px 0;
        h3 {
            font-size: 35px;
            text-align: center;
            line-height: 1.5;
            &:nth-child(2n){
                text-align: right;
            }
        }
        p {
            color: #666666;
            opacity: .8;
            font-size: 15px;
            line-height: 1.8;
            &:nth-child(odd){
                text-align: right;
            }
        }
    }
}

.mat-menu-item {
    width: 100%;
    display: flex !important;
    align-items: center !important;
}
.select_flag {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-flex;
    img {
        width: 100%;
        height: 100%;
    }
}
span {
    display: block;
    margin-left: 5px;
    color: #000;
    font-weight: 700;
}
.mat-menu-trigger {
    display: flex;
    align-items: center;
    background: #eeeeee2b;
    border: 2px solid #14B1BD;
    border-radius: 4px;
    padding: 6px 20px;
    justify-content: center;
}
.select_counrty{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: inline-flex;
    img {
        width: 100%;
        height: 100%;
    }
}
.right_col {
    display: flex;
    align-items: center;
}

.lang_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    border-radius: 4px;
    border: 2px solid #14B1BD;
    background: transparent;
}