<div class="page_main_wrapper landing">
  <div class="container">
    <div class="top_head">
      <figure class="logo_col">
        <img src="assets/images/Pivvot_Type & Symbol-45.svg" alt="Logo" />
      </figure>
      <div class="right_col">
        <button [routerLink]="['LOGIN'|absolutePath]" class="primary-btn">Login</button>
        <button [routerLink]="['SIGNUP'|absolutePath]" class="primary-btn">Sign up</button>
        <!-- <button type="button" mat-icon-button (click)="onOpenDialog()" class="lang_btn" aria-label="Example icon-button with a menu">
          <figure class="select_counrty">
            <img [src]="currentCountry?.image || 'assets/icons/singapore-flag.svg'" alt="">
          </figure>
          <figure class="drop">
            <img src="assets/images/downIcon.svg" alt="">
          </figure>
        </button> -->
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <figure class="select_counrty">
            <img src="assets/images/SingaporeFlag.svg" alt="">
          </figure>
          <figure class="drop">
            <img src="assets/images/downIcon.svg" alt="">
          </figure>
        </button> -->
      </div>
    </div>
    <div class="middle_sec">
      <h3>Welcome To Pivvot web</h3>
    </div>
  </div>
</div>
<!-- 
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <div class="select_flag">
      <img src="assets/images/SingaporeFlag.svg" alt="">
    </div>
    <span>Singapore</span>
  </button>
  <button mat-menu-item>
    <div class="select_flag">
      <img src="assets/images/MalaysianFlag.svg" alt="">
    </div>
    <span>Malaysian</span>
  </button>
</mat-menu> -->
