.filter_col{
    p{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        margin-bottom:0;
        color:#231e1e;
        position: relative;
        top:3px;
    }
    span{
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        color:#6e6b6b;
    }
}
.all-check{
    p{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        margin-bottom:0;
        color:#231e1e;
    }
}