<span  class="close_btn">
  <img (click)="closeDialog()" src="assets/images/filter_close.svg" alt="" />
</span>
<div class="sec_main_wrapper">
  <div class="setting-wrapper qr-section">
    <!-- <p class="qr-text">This QR will be automatically updated in</p> -->
    <!-- <div class="counter-value">
      <div class="counter-inner"><span>00:43</span></div>
    </div> -->
    
    <div class="qr-wrap">
      <div class="qr-area">
        <figure>
          <img src="assets/images/QR_Image.png" #qr alt="QR Image" />
        </figure>
      </div>
    </div>
  </div>
</div>
