<div class="popup_wrapper">
  <div class="heading">
    <h3>Select Location from Map</h3>
    <span mat-dialog-close class="close">
      <img src="assets/images/close-24px.svg" alt="">
    </span>
  </div>

  <div class="inner_content">
    <div class="wrap">
      <div class="form_group">
        <mat-label> Search Location </mat-label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off"
            type="text" #search [formControl]="searchControl">
          <div id="map"></div>
          <button class="clearBtn" *ngIf="this.search.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.search.value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary" (click)="submitAddress()" cdkFocusInitial>Select</button>
    </div>

    <div class="map_wrapper">
      <agm-map class="agm-map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false"
        [zoomControl]="true">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
