<form
[formGroup]="changePasswordForm"
(ngSubmit)="submitPasswordForm(formDirective)"
#formDirective="ngForm"
>
    <div class="wrap-input">
      <div class="flex">
        <div class="col-6">
          <mat-label>Current Password</mat-label>
          <mat-form-field
            checkMaxLength="passwordMaxLength"
            class="example-full-width"
            appearance="outline"
          >
            <input
              (keydown)="errorType = 0"
              matInput
              formControlName="oldPassword"
              [type]="currentHidePassword ? 'password' : 'text'"
              placeholder="Enter Old Password"
            />
            <mat-icon
              class="pointer"
              matSuffix
              (click)="currentHidePassword = !currentHidePassword"
            >
              {{
                currentHidePassword ? "visibility_off" : "visibility"
              }}
            </mat-icon>
            <mat-error>
              {{
                changePasswordForm
                  | getControl: ["oldPassword"]
                  | validate: "PASSWORD"
              }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="col-6">
          <mat-label>New Password</mat-label>
          <mat-form-field
            class="example-full-width"
            appearance="outline"
          >
            <input
              matInput
              [type]="newHidePassword ? 'password' : 'text'"
              placeholder="Enter New Password"
              appTrim
              formControlName="newPassword"
            />
            <mat-icon
              class="pointer"
              matSuffix
              (click)="newHidePassword = !newHidePassword"
            >
              {{ newHidePassword ? "visibility_off" : "visibility" }}
            </mat-icon>
            <mat-error>
              {{
                changePasswordForm
                  | getControl: ["newPassword"]
                  | validate: "NEW_PASSWORD"
              }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-label>Confirm New Password</mat-label>
          <mat-form-field
            class="example-full-width"
            appearance="outline"
          >
            <input
              matInput
              [type]="confirmHidePassword ? 'password' : 'text'"
              placeholder="Confirm New Password"
              appTrim
              formControlName="confirmNewPassword"
            />
            <mat-icon
              class="pointer"
              matSuffix
              (click)="confirmHidePassword = !confirmHidePassword"
            >
              {{
                confirmHidePassword ? "visibility_off" : "visibility"
              }}
            </mat-icon>
            <mat-error>
              <span>
                {{
                  changePasswordForm
                    | getControl: ["confirmNewPassword"]
                    | validate: "CONFIRM_PASSWORD"
                }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="btn-wrap">
        <button type="button" (click)="onCancel(formDirective)" class="cancel-btn">Cancel</button>
        <button
          type="submit"
          class="primary-btn"
          [disabled]="!changePasswordForm.valid"
        >
          Update Password
        </button>
      </div>
    </div>

</form>