.profile-setup .wrap {
  margin-bottom: 15px;
}

.profile-setup .wrap .page_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.23;
  text-align: left;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-bottom: 0;
}

.profile-setup .mat-area-chip {
  margin-bottom: 15px;
}

.profile-setup .flex-step-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .profile-setup .flex-step-counter {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile-setup .step-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.profile-setup .step-counter .icon {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background: #e3eaf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.profile-setup .step-counter .icon .mat-icon {
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #14B1BD;
}

.profile-setup .step-counter p {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0 10px 0;
  font-weight: 600;
}

.profile-setup .step-counter p span {
  color: #6e6b6b;
}

.profile-setup .step-line-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px -5px 15px;
}

.profile-setup .step-line-wrap .step-line {
  max-width: 33.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 33.33%;
          flex: 0 33.33%;
  padding: 0 5px;
}

.profile-setup .step-line-wrap .step-line.active .line {
  background-color: #3cb641;
}

.profile-setup .step-line-wrap .step-line .line {
  width: 100%;
  height: 4px;
  border-radius: 100px;
  background-color: #e0e0e0;
}

.profile-setup .step-description p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  color: #6e6b6b;
}

.profile-setup .mat-stepper-horizontal,
.profile-setup .mat-stepper-vertical {
  background-color: #f3f3f3;
}

.profile-setup textarea {
  height: 120px !important;
}

.profile-setup .form_group {
  margin-bottom: 25px;
}

.profile-setup .disc-wrap {
  margin-bottom: 50px;
}

.profile-setup .upload-wrapper {
  height: 120px;
  border-radius: 10px;
  border: 1px dashed #c7c7c7;
  position: relative;
}

.profile-setup .upload-wrapper .log-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.profile-setup .upload-wrapper .log-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.profile-setup .upload-wrapper .log-img .mat-icon {
  position: absolute;
  top: -16px;
  right: -16px;
  z-index: 99;
  width: 32px;
  height: 32px;
  background: #fc0000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.profile-setup .upload-wrapper input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 9;
}

.profile-setup .upload-wrapper span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16px;
  color: #6e6b6b;
}

:host ::ng-deep .main-wrapper .main-content {
  background: #f1f3f7 !important;
}

:host ::ng-deep .profile-setup .textarea-wrap .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  height: initial;
}

.link {
  cursor: pointer;
}

.list_wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
  position: relative;
}

.list_wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #dbe2ea;
  left: 0;
  top: 50%;
}

.list_wrapper .list {
  background: #dbe2ea;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.list_wrapper .list.step_done {
  background: #74b570;
}

.list_wrapper .list.step_done .text {
  display: none;
}

.list_wrapper .list.step_done .success_icon {
  display: block !important;
}

.list_wrapper .list.step_done::before {
  background: #74b570;
}

.list_wrapper .list.active {
  background: #14B1BD;
}

.list_wrapper .list.active .text {
  color: #fff;
}

.list_wrapper .list .text {
  font-weight: 600;
  font-size: 13px;
  color: #88878b;
}

.list_wrapper .list .success_icon {
  display: none;
}

.list_wrapper .list:last-of-type::before {
  content: none;
}

:host ::ng-deep .mat-slide-toggle-bar {
  background-color: #dadada;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #dadada;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #14B1BD;
}

:host ::ng-deep .mat-slide-toggle-content {
  color: #6e6b6b;
  font-weight: 600;
}

.subway {
  width: 50%;
  display: table;
  position: relative;
  table-layout: fixed;
  z-index: 0;
  list-style: none;
  padding: 0;
  margin: 0 auto 20px;
}

@media (max-width: 767px) {
  .subway {
    width: 100%;
    margin-bottom: 15px;
  }
}

.subway .subway-stop {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: top;
  margin: 0;
}

.subway .subway-stop-box {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #dbe2ea;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}

.subway .subway-stop:first-child:before {
  display: none;
}

.subway .subway-stop:before {
  content: "";
  width: 100%;
  position: absolute;
  left: -50%;
  top: 50%;
  z-index: 0;
  border-bottom: 3px solid #dbe2ea;
}

.subway .subway-stop.is-active:before {
  border-color: #dbe2ea;
}

.subway .success_icon {
  display: none;
}

.subway .subway-stop.is-active .subway-stop-box {
  background: #14B1BD;
  color: #fff;
}

.subway .subway-stop.success {
  position: relative;
}

.subway .subway-stop.success .subway-stop-box {
  background: #74b570;
  color: #fff;
}

.subway .subway-stop.success .value {
  display: none;
}

.subway .subway-stop.success .success_icon {
  display: block;
}

.subway .subway-stop.success::before {
  border-bottom: 3px solid #74b570;
}

.is-active {
  position: relative;
}

.is-active::before {
  content: "";
  width: 100%;
  position: absolute;
  left: -50%;
  top: 22px;
  z-index: 0;
  border-bottom: 3px solid #74b570 !important;
}

.top_haed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .top_haed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top_haed .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media (max-width: 767px) {
  .top_haed .btn-wrap {
    margin-left: auto;
  }
}

.top_haed .btn-wrap .cancel-btn {
  width: 140px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
  border-radius: 6px;
  border: solid 1.5px #dbe2ea;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #14B1BD;
  margin-right: 15px;
}

.top_haed .btn-wrap .cancel-btn:disabled {
  background-color: #E7EDF3;
  color: #c9ccd1;
  opacity: 0.9;
  cursor: default;
}

.page_title {
  padding: 0 10px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
/*# sourceMappingURL=add-job.component.css.map */