    .heading {
        background: #f3f3f3;
        padding: 15px;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .btn_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        button {
            margin-right: 15px;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }