<div class="top_haed">
    <div class="left_col">
        <div class="breadcrumbs">
            <ul>
              <li><a>Search Worker</a></li>
              <li>Worker Details</li>
            </ul>
          </div>
          <h3 class="page-title">Worker Details</h3>
    </div>
    <div class="btn_wrap">
        <button class="btn_secondry">
            Hire
        </button>
        <button class="primary-btn">
            Invite
        </button>
    </div>
</div>
<div class="page_main_wrapper">
    <div class="top_row">
        <div class="worker_details_wrapper">
            <figure class="w_img">
                <img src="assets/images/placeholder.png" alt="">
            </figure>
            <div class="inner_wrapper">
                <div class="info_wrapper">
                    <div class="wrap">
                        <h3 class="name">Jhonathan Doe
                        </h3>
                        <p class="rating">
                            <img src="assets/images/ic_Star.svg" alt="">
                            3
                        </p>
                        <span class="review_count">10 Reviews</span>
                        <span class="tag">
                            Previously Hired
                        </span>
                    </div>
                    <p class="exp">2 years as sales promoter</p>
                    
                </div>
                <div class="personal_expertise_wrapper">
                    <h3 class="expertise_col">
                        <img src="assets/images/work_circle.svg" alt="">
                        Years of experience:
                        <span class="count">12</span>
                    </h3>

                    <h3 class="expertise_col">
                        <img src="assets/images/job_circle.svg" alt="">
                        Jobs completed:
                        <span class="count">12</span>
                    </h3>

                    <h3 class="expertise_col">
                        <img src="assets/images/clock_circle.svg" alt="">
                        Work hours completed:
                        <span class="count">12</span>
                    </h3>
                </div>
               

            </div>
            
        </div>
        <figure class="more_menu" [matMenuTriggerFor]="menu">
            <img src="assets/images/More.svg" alt="">
        </figure>
    </div>

    <!-- <div class="sec_wrapper">
        <h3 class="sec_title">
            Work Experience
        </h3>

        <div class="box_wrapper">
            <div class="box">
                <div class="left_col">
                    <img src="assets/images/ic_years_of_exp.svg" alt="">
                </div>
                <div class="right_col">
                    <p class="key">Years of Exp.</p>
                    <h3 class="value">50</h3>
                </div>
            </div>

            <div class="box">
                <div class="left_col">
                    <img src="assets/images/ic_jobs_completed.svg" alt="">
                </div>
                <div class="right_col">
                    <p class="key">Jobs Completed</p>
                    <h3 class="value">50</h3>
                </div>
            </div>


            <div class="box">
                <div class="left_col">
                    <img src="assets/images/time.svg" alt="">
                </div>
                <div class="right_col">
                    <p class="key">Work Hours Completed</p>
                    <h3 class="value">50</h3>
                </div>
            </div>
        </div>
    </div> -->

    <div class="sec_wrapper">
        <h3 class="sec_title">
            Basic Details
        </h3>

        <div class="info_wrapper flex_sec">
            <div class="info">
                <p class="key">
                    <img src="assets/images/Addjob_new.svg" alt="">
                    Current Job Role
                </p>
                <h3 class="value">
                    Chef at Taj Leela Palace
                </h3>
            </div>

            <div class="info">
                <p class="key">
                    <img src="assets/images/Flag.svg" alt="">
                    Nationality
                </p>
                <h3 class="value">
                    Malaysian
                </h3>
            </div>

            <div class="info">
                <p class="key">
                    <img src="assets/images/world.svg" alt="">
                    Language
                </p>
                <div class="value_wrapper flex_sec">
                    <h3 class="value">
                        English: <span class="level">Advanced</span>
                    </h3>
                    <h3 class="value">
                        Hindi: <span class="level">Advanced</span>
                    </h3>
                </div>
               
            </div>
        </div>
    </div>

    <div class="sec_wrapper">
        <h3 class="sec_title">
            Job Preferences
        </h3>

        <div class="info_wrapper">
            <div class="info">
                <p class="key">
                    <img src="assets/images/Building_Sector.svg" alt="">
                    Prefeered Business Category
                </p>
                <h3 class="value">
                    Retail, Departmental & Transportatioon
                </h3>
            </div>

            <div class="info">
                <p class="key">
                    <img src="assets/images/Skills.svg" alt="">
                    
                    Skills
                </p>
                <div class="tag_wrapper">
                    <span class="tag">
                        Scrum Master
                    </span>
                    <span class="tag">
                        Usibility Analysis
                    </span>
                </div>
            </div>

            <div class="info">
                <p class="key">
                    <img src="assets/images/Location_new.svg" alt="">
                    Location Preferences
                </p>
                <div class="tag_wrapper">
                    <span class="tag">
                        Scrum Master
                    </span>
                    <span class="tag">
                        Usibility Analysis
                    </span>
                </div>
            </div>


            <div class="info">
                <p class="key">
                    <img src="assets/images/Clock.svg" alt="">
                    Time Preferences
                </p>
                <div class="flex-box-wrap">
                    <h3 class="value flex_col">
                        Mon
                        <img src="assets/images/Early_Shift.svg" alt="">
                        Early
                    </h3>
                    <h3 class="value flex_col">
                        Tue
                        <img src="assets/images/Early_Shift.svg" alt="">
                        Early
                    </h3>
                    <h3 class="value flex_col">
                        Wed
                        <img src="assets/images/Early_Shift.svg" alt="">
                        Early
                    </h3>
                    <h3 class="value flex_col">
                        Thu
                        <img src="assets/images/DayShift.svg" alt="">
                        Early
                    </h3>

                    <h3 class="value flex_col">
                        Fri
                        <img src="assets/images/Early_Shift.svg" alt="">
                        Early
                    </h3>

                    <h3 class="value flex_col">
                        Sat
                        <img src="assets/images/NightShift.svg" alt="">
                        Early
                    </h3>
                    <h3 class="value flex_col">
                        Sun
                        <img src="assets/images/DayShift.svg" alt="">
                        Early
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="sec_wrapper">
        <h3 class="sec_title">
            CV/Experience
        </h3>
        <div class="exp_box_wrapper">
            <h3 class="exp_title">Intern</h3>
            <p class="subtitle">Housekeeping and Management</p>
            <p class="date">August 2019 - January 2021</p>

            <p class="desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque praesentium, ratione voluptatum aut
                facere adipisci amet dicta illum repellendus dolores, explicabo sit sint iusto quod incidunt eum debitis
                ipsa impedit?
            </p>
        </div>
    </div>

    <div class="sec_wrapper">
        <h3 class="sec_title">
            Certification
        </h3>
        <div class="cstm_box_wrapper">
            <figure class="c_img">
                <img src="assets/images/ic_placeholder.svg" alt="">
            </figure>
            <div class="right_col">
                <h3 class="name">Certified Safety Manager : <span>Construction (CSMC)</span></h3>
                <p class="desg">
                    Certified Safety Manager : Construction (CSMC)
                </p>
                <ul class="list_wrap">
                    <li class="list">
                        <p class="key">Issued:</p>
                        <p class="value">Sep. 2018 to No Expiry</p>
                    </li>

                    <li class="list">
                        <p class="key">Credential ID:</p>
                        <p class="value">uc-3eeeyu7-cf2af-45d4-8551</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sec_wrapper">
        <h3 class="sec_title">
            Reviews from previous employer
        </h3>
        <div class="review_box_wrapper">
            <div class="left_col">
                <h3 class="title">
                    Delivery Executive
                </h3>
                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="right_col">
                <p class="rating">
                    45
                </p>
            </div>
        </div>

        <div class="review_box_wrapper">
            <div class="left_col">
                <h3 class="title">
                    Delivery Executive
                </h3>
                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="right_col">
                <p class="rating">
                    45
                </p>
            </div>
        </div>

        <div class="review_box_wrapper">
            <div class="left_col">
                <h3 class="title">
                    Delivery Executive
                </h3>
                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="right_col">
                <p class="rating">
                    45
                </p>
            </div>
        </div>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>      
      <span>Redial</span>
    </button>
    <button mat-menu-item>      
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <span>Disable alerts</span>
    </button>
  </mat-menu>