.setting-wrapper{
    .breadcrumbs{
        margin-bottom:15px;
        ul{
            li{
                
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                color: #14B1BD;
                display: inline-block;
                vertical-align: middle;
                margin-right:10px;
                a{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    color: #969BA0;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "/";
                        font-size: 18px;
                        color: #969BA0;
                        right: -10px;
                        top: -2px;
                    }
                }
            }
        }
    }
    .page-title{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: #000000;
        margin-bottom:15px;
    }
 

  
}

.btn-wrap{
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .cancel-btn{
        padding: 9px 25px;
        font-size: 14px;
        font-weight: 500;
        color: #6e6b6b; 
        background-color: #fff;
        border: solid 1px #6e6b6b;
        border-radius: 5px;
        margin-right:15px;
    }
}

.pointer{
    cursor: pointer;
}
.request-new-password{
    margin-bottom:15px;
    text-align: right;
    position: relative;
    top: -15px;
    a{
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29;
        text-align: left;
        color: #14B1BD;
    }
}

:host ::ng-deep {
    .tabs-wrap{
        .mat-slide-toggle.mat-checked {
            .mat-slide-toggle-bar{
                background-color:#4BAE4F;
            }
        }
        .mat-slide-toggle.mat-checked{
            .mat-slide-toggle-thumb{
                background-color:#4BAE4F;
            }
        }
        .mat-slide-toggle.mat-checked {
            .mat-ripple-element{
                background-color:#4BAE4F;
            }
        }
        .mat-tab-label{
            &.mat-tab-label-active{
                opacity: 1;
                .mat-tab-label-content{
                    color:#14B1BD;
                    opacity: 1;
                }
            }
            .mat-tab-label-content{
                font-size: 16px;
                font-weight: 600;   
                line-height: 1.5;
                color: #96a5b8;
            }
            
        }
        .mat-tab-body-wrapper {
            padding: 0 15px 0 15px;
            border-radius: 10px;
            border: solid 1px #dbe2ea;
            background-color: #ffffff;
            margin-top: 20px;
        }
    }
    
}
.flex{
    flex-wrap: wrap;
    .col-6{
        @media(max-width: 767px) {
            max-width: 100%;
            flex: 0 100%;
        }
    }
}

.white-container {
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #dbe2ea;
    background-color: #fff;
    margin-top: 20px;
}