<div class="popup-wrapper">
  <div class="popup-inner">
    <figure>
      <img src="assets/images/ic_confirmation check.svg" alt="Icon" />
    </figure>
    <h3>Submitted successfully</h3>
    <p>
      Your changed request submitted successfully. Your company profile is under
      verification process. Once verified, a mail will be sent on your
      registered email address
    </p>
    <div class="btn-wrap">
      <button (click)="close()" type="submit" class="primary-btn">Ok</button>
    </div>
  </div>
</div>
