p{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #231E1E;
    margin-bottom:5px;
  }
  img{
    height: auto;
    display: block;
  }
  span{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
  }
  .time-preference-icon {
    height: 20px;
}
