<div class="recent-activity">
    <div class="header">
        <h3>Recent Activities</h3>
    </div>
    <div class="recent-content">
        <div class="activity-row">
            <div class="img-wrap">
                <img src="assets/images/user-profile.png" alt="Image"/>
            </div>
            <div class="info">
                <p class="activity-name">Johnathan has accepted the <strong>Offer Letter</strong></p>
                <p class="activity-time">12h ago</p>
            </div>
        </div>
        <div class="activity-row">
            <div class="img-wrap">
                <img src="assets/images/user-profile.png" alt="Image"/>
            </div>
            <div class="info">
                <p class="activity-name">Johnathan has accepted the <strong>Offer Letter</strong></p>
                <p class="activity-time">12h ago</p>
            </div>
        </div>
        <div class="activity-row">
            <div class="img-wrap">
                <img src="assets/images/user-profile.png" alt="Image"/>
            </div>
            <div class="info">
                <p class="activity-name">Johnathan has accepted the <strong>Offer Letter</strong></p>
                <p class="activity-time">12h ago</p>
            </div>
        </div>
        <div class="activity-row">
            <div class="img-wrap">
                <img src="assets/images/user-profile.png" alt="Image"/>
            </div>
            <div class="info">
                <p class="activity-name">Johnathan has accepted the <strong>Offer Letter</strong></p>
                <p class="activity-time">12h ago</p>
            </div>
        </div>
        <div class="activity-row">
            <div class="img-wrap">
                <img src="assets/images/user-profile.png" alt="Image"/>
            </div>
            <div class="info">
                <p class="activity-name">Johnathan has accepted the <strong>Offer Letter</strong></p>
                <p class="activity-time">12h ago</p>
            </div>
        </div>
    </div>
    <div class="more-activity">
        <img src="assets/images/Arrow-Long-Blue.svg" alt="icon"/>
    </div>
</div>