<div class="form-section">
  <h3>{{'RESET_PASSWORD'|translate}}</h3>
  <p class="description">Please make sure you atleast have 8 characters</p>
  <form class="example-form" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <div class="input-wrap">
      <mat-label>{{'NEW_PASSWORD'|translate:'TITLE'}} &nbsp; <span class="mandatory_field">*</span></mat-label>
      <mat-form-field checkMaxLength="passwordMaxLength" class="example-full-width" appearance="outline">
        <input matInput formControlName="password" [type]="hidePassword?'password':'text'"
          placeholder="Enter new Password">
        <mat-icon class="pointer" matSuffix (click)="hidePassword= !hidePassword">
          {{hidePassword ? 'visibility_off' :'visibility'}}
        </mat-icon>
        <mat-error>
          {{ resetForm | getControl : ['password']|validate:'NEW_PASSWORD'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-wrap">
      <mat-label>{{'CONFIRM_PASSWORD'|translate:'TITLE'}}  &nbsp; <span class="mandatory_field">*</span></mat-label>
      <mat-form-field checkMaxLength="passwordMaxLength" class="example-full-width" appearance="outline">
        <input formControlName="confirmPassword" [type]="hideConfirmPassword?'password':'text'" type="password" matInput
          placeholder="Enter new Password again">
        <mat-icon class="pointer" matSuffix (click)="hideConfirmPassword= !hideConfirmPassword">
          {{hideConfirmPassword ? 'visibility_off' :'visibility'}}
        </mat-icon>
        <mat-error>
          {{ resetForm | getControl : ['confirmPassword']|validate:'CONFIRM_PASSWORD'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="btn-wrap">
      <button type="submit" class="login-btn">
        <app-button-loader [showLoader]="resetForm.disabled">{{'SET_NEW_PASSWORD'|translate}}</app-button-loader>
      </button>
    </div>
  </form>
</div>
