.form-section{
    width:504px;
    margin:0 auto;
    h3{
        font-size: 34px;
        font-weight: bold;
        line-height: 44px;
        color: #14B1BD;
        mix-blend-mode: normal;
        opacity: 0.87;
        margin-bottom:0;
    }
    .description{
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        color: #6E6B6B;
        mix-blend-mode: normal;
        opacity: 0.87;
    }
    .remember-me{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom:25px;
        a{
            font-size:14px;
            line-height:18px;
            color:#14B1BD;
        }
    }
    .btn-wrap{
        margin-bottom:15px;
        .login-btn{
            width:100%;
            height:50px;
            border-radius:6px;
            background:#14B1BD;
            color:#fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:16px;
            font-weight: 600;
            &:disabled{
                background:#E7EDF3;
                color:#231E1E;
            }
        }
    }
    .info{
        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #231E1E;
            a{
                color:#14B1BD;
            }
        }
    }
}
.input-wrap{
    padding-bottom:15px;
}
.pointer{
    cursor: pointer;
}