.popup_main_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .popup_icon {
    margin-bottom: 15px;
  }
  .title {
    color: #231e1e;
    font-size: 20px;
    font-weight: 600;
  }
  .desc {
    color: #6e6b6b;
    line-height: 1.57;
    text-align: center;
    margin-bottom: 20px;
  }
  .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      min-width: 100px;
      margin-right: 15px;
      &:last-of-type {
        margin-right: 0;
      }
      .btn_secondry {
        color: #14B1BD;
        border: 1px solid #14B1BD;

        padding: 10px;
      }
    }
  }
}
