.applicant-card {
    padding: 24px 24px 16px;
    border-radius: 10px;
    border: solid 1px #dbe2ea;
    background-color: #fff;
    margin-bottom: 10px;
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
    .applicant-inner {
      .applied-date {
        text-align: right;
        span {
          font-size: 12px;
          font-weight: 500;
          line-height: 1.5;
          color: #96a5b8;
        }
      }
      .title-wrap {
        width:calc(100% - 32px);
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @media (max-width: 767px) {
          margin-bottom: 0;
          margin-right: auto;
        }
        h3 {
          height:22px;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.57;
          color: #96a5b8;
          margin: 0 0 0 5px;
        }
        @media (max-width: 767px) {
          margin: 0 auto 0 3px;
          font-size: 13px;
        }
      }
      .flex-row {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 -15px;
        @media (max-width: 767px) {
          padding-bottom: 0px;
        }
        .col-4 {
          width: 33.33%;
          flex: 0 33.33%;
          padding: 0 15px;
          @media (max-width: 767px) {
            max-width: 100%;
            flex: 0 100%;
          }
        }
        .col-8 {
          width: 66.66%;
          flex: 0 66.66%;
          padding: 0 15px;
          @media (max-width: 767px) {
            max-width: 100%;
            flex: 0 100%;
          }
        }
      }
      .skills-listing {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 767px) {
          justify-content: space-between;
          margin: 10px 0 15px 0;
        }
        li {
          height: 32px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 6px 8px;
          border-radius: 4px;
          background-color: #f1f1f1;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.29;
          color: #231e1e;
          margin: 0 6px 6px 0;
          @media (max-width: 767px) {
            margin: 0;
            padding: 4px 6px;
            font-size: 13px;
          }
          a {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.29;
            color: #14B1BD;
          }
        }
      }
      .bottom-action {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0 -10px;
        position: relative;
        top:35px;
        @media (max-width: 767px) {
          justify-content: space-between;
          margin-bottom: 5px;
        }
        li {
          padding: 0 10px;
          @media (max-width: 767px) {
            padding: 0;
          }
          a {
            font-size: 16px;
            font-weight: 600;
            color: #14B1BD;
            &.not-suitable {
              color: #f44336;
            }
            @media (max-width: 767px) {
              font-size: 14px;
            }
          }
        }
      }
    }
    .top-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 767px) {
        justify-content: inherit;
      }
    }
    .value {
      font-size: 16px;
      line-height: 1.5;
      color: #231e1e;
      @media (max-width: 767px) {
        margin: 8px 0;
        font-size: 14px;
      }
      .circle {
        width: 5px;
        height: 5px;
        margin: 0 10px;
        border-radius: 50%;
        background-color: #c4c4c4;
        display: inline-block;
      }
    }
    .user-info-wrap {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      .user-pic {
        width: 56px;
        height: 56px;
        figure {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
      }
      .user-basic-details {
        width: calc(100% - 56px);
        padding-left: 15px;
        @media (max-width: 767px) {
          padding-left: 0;
          width: 100%;
        }
        .user-top-info {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0 0 10px;
          @media (max-width: 767px) {
            justify-content: center;
          }
          h3 {
            font-size: 18px;
            font-weight: 700;
            color: #000;
            margin: 0 10px 0 0;
            @media (max-width: 767px) {
              margin: 8px 0;
              font-size: 16px;
            }
          }
          .status-wrap {
            height: 28px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 6px 8px;
            border-radius: 4px;
            background-color: #edf4ff;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.5;
            color: #14B1BD;
            @media (max-width: 767px) {
              height: 25px;
              padding: 5px 7px;
            }
          }
        }
      }
    }
    .exp-rating-wrap {
      display: flex;
      align-items: center;
      .circle {
        width: 5px;
        height: 5px;
        margin: 0 10px;
        border-radius: 50%;
        background-color: #c4c4c4;
        display: inline-block;
      }
      .exp-wrap {
        p {
          display: flex;
          align-items: center;
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.57;
          color: #6e6b6b;
          @media (max-width: 767px) {
            font-size: 13px;
          }
        }
      }
      .rating-wrap {
        display: flex;
        align-items: center;
        p {
          font-size: 12px;
          color: #858585;
          margin: 0;
          span {
            font-size: 12px;
            font-weight: 700;
            line-height: 1.5;
            color: #231e1e;
          }
        }
      }
    }
    .pb-15 {
      padding-bottom: 20px;
    }
  }
  
  .contract-text {
    text-align: right;
    a {
      font-size: 16px;
      font-weight: 600;
      color: #14B1BD;
      margin-left:15px;
      text-decoration: underline;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
  
  .time-preference-listing {
    display: flex;
    align-items: center;
    margin: 0 -5px;
    .time-preference-item{
      padding: 0 8px;
      p{
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #231E1E;
        margin-bottom:5px;
      }
      img{
        height: auto;
        display: block;
      }
      span{
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #666666;
      }
    }
}

.link{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}