.breadcrumbs {
  ul {
    li {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      color: #14B1BD;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      a {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        color: #969ba0;
        position: relative;
        text-decoration: underline;
        &::before {
          position: absolute;
          content: "/";
          font-size: 18px;
          color: #969ba0;
          right: -10px;
          top: -2px;
        }
      }
    }
  }
}
.page-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  .page-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
    margin-bottom: 0;
    text-transform: capitalize;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
      margin-right: 0px;
      margin-bottom: 8px;
    }
  }
  .right-action {
    display: flex;
    align-items: center;
    .outline-btn {
      height: 42px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 32px;
      margin: 0 7px;
      border-radius: 6px;
      border: solid 1.5px rgba(150, 165, 184, 0.5);
      font-size: 14px;
      font-weight: 500;
      color: #14B1BD;
      @media (max-width: 767px) {
        font-size: 14px;
        height: 37px;
        margin: 0 6px;
        padding: 10px 8px;
      }
    }
    .not-suitable-btn {
      height: 42px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 32px;
      border-radius: 6px;
      border: solid 1.5px rgba(150, 165, 184, 0.5);
      font-size: 14px;
      font-weight: 500;
      color: #f44336;
      @media (max-width: 767px) {
        font-size: 14px;
        height: 37px;
        padding: 10px 8px;
      }
    }
  }
}

.user-details-section {
  border: solid 1px #dbe2ea;
  .basic-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 236px;
    padding: 48px 24px;
    background-color: #f4f8ff;
    @media (max-width: 767px) {
      padding: 20px 16px;
      min-height: auto;
    }
    .left-details {
      width: calc(100% - 30px);
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      @media (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        width: calc(100% + 30px);
        align-items: center;
      }
      .user-pic {
        width: 140px;
        height: 140px;
        border: solid 4px #14B1BD;
        border-radius: 50%;
        background-color: #c4c4c4;
        @media (max-width: 767px) {
          width: 80px;
          height: 80px;
          margin-bottom: 5px;
        }
        figure {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: center center;
          }
        }
      }
      .details-wrap {
        width: calc(100% - 140px);
        padding-left: 20px;
        @media (max-width: 767px) {
          width: calc(100% + 30px);
          padding-left: 0px;
        }
        .top-info {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          @media (max-width: 767px) {
            flex-direction: column;
          }

          h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            color: #000;
            margin: 0;
            @media (max-width: 767px) {
              font-size: 20px;
              line-height: 1.3;
            }
          }
        }
        .exp-desc {
          font-size: 16px;
          line-height: 1.5;
          color: #6e6b6b;
          @media (max-width: 767px) {
            font-size: 14px;
            text-align: center;
          }
        }
        .basic-info {
          display: flex;
          align-items: center;
          margin: 0 -15px;
          @media (max-width: 767px) {
            flex-direction: column;
            margin: 0;
            align-items: flex-start;
          }

          .info-item {
            display: flex;
            align-items: center;
            padding: 0 15px;
            position: relative;
            @media (max-width: 767px) {
              padding: 0;
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            &:last-child {
              &:before {
                display: none;
              }
            }
            &:before {
              width: 1px;
              height: 24px;
              background-color: rgba(36, 116, 255, 0.2);
              position: absolute;
              content: "";
              right: 0;
              top: 5px;
              @media (max-width: 767px) {
                display: none;
              }
            }
            .icon-wrap {
              width: 28px;
              height: 28px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 2px;
              border-radius: 100px;
              &.exp {
                background-color: #4caf50;
              }
              &.jobs {
                background-color: #ba4fdf;
              }
              &.hours {
                background-color: #ff9800;
              }
            }
            strong {
              font-size: 14px;
              font-weight: 500;
              line-height: 1.57;
              color: #96a5b8;
              margin: 0 10px;
              @media (max-width: 767px) {
                font-size: 13px;
                margin: 0 8px;
              }
            }
            span {
              font-size: 16px;
              line-height: 1.5;
              color: #231e1e;
              @media (max-width: 767px) {
                font-size: 14px;
                margin: 0 8px;
              }
            }
            .status-rating-wrap {
              display: flex;
              align-items: center;
              @media (max-width: 767px) {
                margin-top: 7px;
              }
            }
          }
        }
        .rating-wrap {
          height: 28px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 8px;
          border-radius: 4px;
          border: solid 1px rgba(150, 165, 184, 0.2);
          background-color: #f3f3f3;
          margin: 0 10px;
          @media (max-width: 767px) {
            height: 26px;
            padding: 5px 5px;
            margin: 0 8px;
          }
          img {
            margin-right: 5px;
          }
          p {
            font-size: 16px;
            line-height: 1.5;
            color: #231e1e;
            margin-bottom: 0;
            @media (max-width: 767px) {
              display: flex;
              align-items: flex-end;
              font-size: 14px;
            }
            span {
              font-size: 12px;
              font-weight: 500;
              line-height: 1.5;
              color: #6e6b6b;
            }
          }
        }
        .status-wrap {
          height: 32px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 6px 8px;
          border-radius: 4px;
          background-color: #edf4ff;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.29;
          color: #14B1BD;
          @media (max-width: 767px) {
            height: 26px;
            padding: 5px 5px;
            font-size: 13px;
          }
        }
      }
    }
  }
  .main-details {
    padding: 0 20px;
    background: #fff;
    @media (max-width: 767px) {
      padding: 0 16px;
    }
    .section-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;
      color: #231e1e;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 1.1;
        margin-bottom: 10px;
      }
    }
    .section-card {
      padding: 20px 0 15px;
      border-bottom: solid 1px #edf2f6;
      &:last-child {
        border-bottom: none;
      }
      .flex-wrap {
        display: flex;
        align-items: flex-start;
        margin: 0 -15px;
        @media (max-width: 767px) {
          flex-wrap: wrap;
        }
      }
      .title-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @media (max-width: 767px) {
          margin-bottom: 8px;
        }
        h3 {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.57;
          color: #96a5b8;
          margin: 0 0 0 5px;
          @media (max-width: 767px) {
            font-size: 12px;
          }
        }
      }
      .col-12 {
        padding-top: 5px;
        padding-bottom: 5px;
        @media (max-width: 767px) {
          padding-top: 4px;
          padding-bottom: 4px;
        }
        @media (max-width: 767px) {
          p {
            margin-bottom: 8px;
          }
        }
      }
      .col-4 {
        @media (max-width: 767px) {
          max-width: 100%;
          flex: 0 0 100%;
        }
        p {
          font-size: 16px;
          line-height: 1.5;
          color: #231e1e;
          @media (max-width: 767px) {
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 10px;
          }
        }
        ul {
          display: flex;
          align-items: center;
          margin: 0 -10px;
          li {
            font-size: 16px;
            line-height: 1.5;
            color: #6e6b6b;
            padding: 0 10px;
            @media (max-width: 767px) {
              font-size: 14px;
              line-height: 1.4;
            }
            strong {
              color: #231e1e;
            }
          }
        }
      }
      .time-info-wrap {
        display: flex;
        align-items: flex-start;
        margin: 0 -15px;
        li {
          width: 63px;
          text-align: center;
          p {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.29;
            color: #231e1e;
            margin: 0;
            text-align: center;
            @media (max-width: 767px) {
              font-size: 12px;
            }
          }
          span {
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.29;
            color: #666;
            display: inline-block;
            vertical-align: middle;
            @media (max-width: 767px) {
              font-size: 12px;
            }
          }
        }
      }
      .listing-item {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
          flex-wrap: wrap;
        }
        li {
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 6px 8px;
          border-radius: 4px;
          background-color: #f1f1f1;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.29;
          color: #231e1e;
          margin: 0 7px 7px 0;
          @media (max-width: 767px) {
            height: 30px;
            padding: 5px;
            font-size: 11px;
            line-height: 1;
            color: #231e1e;
            margin: 0 7px 7px 0;
            text-align: center;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
.cv-experience {
  padding: 0 16px 16px;
  border-radius: 4px;
  background-color: rgba(36, 116, 255, 0.05);
  margin-bottom: 15px;
  .cv-exp-list-item {
    border-bottom: solid 1px #edf2f6;
    padding: 16px 0 8px;
    @media (max-width: 767px) {
      padding: 14px 0 0px;
    }
    &:last-child {
      border-bottom: none;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;
      color: #231e1e;
      margin-bottom: 12px;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 8px;
      }
    }
    .job-details {
      h4 {
        font-size: 16px;
        line-height: 1.5;
        color: #231e1e;
        margin-bottom: 0;
        @media (max-width: 767px) {
          font-size: 13px;
          line-height: 1.4;
          margin-bottom: 5px;
        }
      }
      .full-exp {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        color: #6e6b6b;
        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 1.2;
        }
      }
    }
    .description {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.57;
      color: #231e1e;
      @media (max-width: 767px) {
        font-size: 13px;
        line-height: 1.5;
      }
    }
  }
}
.review-previous-emp {
  padding: 16px;
  border-radius: 4px;
  background-color: rgba(36, 116, 255, 0.05);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  .left-wrap {
    width: calc(100% - 140px);
  }
  .rating-info {
    width: 140px;
    text-align: center;
    strong {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: #202020;
    }
    .rating-area {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  h3 {
    font-size: 16px;
    line-height: 1.5;
    color: #231e1e;
    @media (max-width: 767px) {
      font-size: 15px;
      line-height: 1.4;
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    color: #6e6b6b;
    @media (max-width: 767px) {
      font-size: 13px;
      line-height: 1.4;
      margin-bottom: 10px;
    }
  }
}
.certification-info {
  display: flex;
  align-items: flex-start;
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  .user-picture {
    width: 130px;
    height: 130px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 80%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  .user-info {
    width: calc(100% - 130px);
    padding-left: 15px;
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 0;
    }
    h3 {
      font-size: 16px;
      line-height: 1.5;
      color: #231e1e;
      margin-bottom: 5px;
      @media (max-width: 767px) {
        line-height: 1.4;
        font-size: 14px;
      }
    }
    .designation {
      font-size: 16px;
      line-height: 1.5;
      color: #6e6b6b;
      @media (max-width: 767px) {
        line-height: 1.4;
        font-size: 14px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      li {
        &:first-child {
          width: 100px;
          @media (max-width: 767px) {
            width: 65px;
          }
        }
        &:nth-child(2) {
          padding: 0 20px;
          @media (max-width: 767px) {
            padding: 0 5px;
          }
        }
        label {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.29;
          color: #96a5b8;
          @media (max-width: 767px) {
            line-height: 1.2;
            font-size: 12px;
          }
        }
        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.29;
          color: #231e1e;
          margin-bottom: 0;
          @media (max-width: 767px) {
            line-height: 1.2;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.pagination-wrap {
  width: 365px;
  height: 72px;
  background: #f2f6fd;
  border: 1px solid #dfebff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  a {
    display: flex;
    align-items: center;
    span {
      font-size: 16px;
      line-height: 24px;
      color: #14B1BD;
    }
  }
}

a {
  &.disabled {
    opacity: 0.5;
  }
}
