<ng-container *ngIf="!isSuccess">
  <div class="login_wrapper animated fadeInRight" *ngIf="!showOtpScreen; else otp">
    <div class="wrap">
      <h3 class="page_title">Forgot Password</h3>
      <p class="sub_heading">We’ll help you reset it and get back on track</p>
    </div>
    <div class="form_wrapper clearfix">
      <mat-radio-group (change)="onChange($event)" [formControl]="typeCtrl" class="example-radio-group">
        <!-- Phone section -->
        <mat-radio-button value="1" class="example-radio-button">Mobile Number</mat-radio-button>
        <form class="example-form" [formGroup]="phoneForm" (ngSubmit)="onPhoneSubmit()">
          <div *ngIf="typeCtrl.value==='1'" class="field-contailner">
            <app-phone-field [phoneForm]="phoneForm" (hideBackendError)="errorType = 0" [isLabel]="false">
            </app-phone-field>
            <app-data-loader *ngIf="showLoader"></app-data-loader>
            <span *ngIf="errorType == 1 || errorType == 2 || errorType == 9"
              class="mat-error custom-validation backend-err ">{{errormsg}}</span>

            <mat-radio-button value="2" class="example-radio-button">Email Id</mat-radio-button>
            <div class="btn-wrap clearfix">
              <button mat-button type="submit" class="login-btn">
                <app-button-loader [showLoader]="phoneForm.disabled">
                  {{ "SUBMIT" | translate }}
                </app-button-loader>
              </button>
            </div>
          </div>
        </form>

        <!--Email section  -->
        <mat-radio-button *ngIf="!(typeCtrl.value==='1')" value="2" class="example-radio-button">Email Id
        </mat-radio-button>
        <form class="example-form" [formGroup]="emialForm" (ngSubmit)="onEmailSubmit()">
          <div *ngIf="typeCtrl.value==='2'" class="field-contailner">
            <div class="form_group clearfix">
              <!-- <mat-label>{{ "EMAIL" | translate: "TITLE" }}</mat-label> -->
              <mat-form-field checkMaxLength="emailMaxLength" class="example-full-width" appearance="outline">
                <input (keydown)="errorType = 0" matInput formControlName="email"
                  [placeholder]="'ENTER_EMAIL' | translate" />
                <mat-error>
                  {{ emialForm | getControl: ["email"] | validate: "EMAIL" }}
                </mat-error>
                <span *ngIf="errorType == 2 ||errorType == 3 || errorType == 9"
                  class="mat-error custom-validation">{{errormsg}}</span>
              </mat-form-field>
            </div>
            <div class="btn-wrap clearfix">
              <button mat-button type="submit" class="login-btn">
                <app-button-loader [showLoader]="emialForm.disabled">
                  {{ "SUBMIT" | translate }}
                </app-button-loader>
              </button>
            </div>
          </div>
        </form>
      </mat-radio-group>
    </div>
  </div>

  <ng-template #otp>
    <app-otp-verification [otpAttemptLeft]="attemptLeft" [phoneData]="phoneForm.value" (onBack)="showOtpScreen = false"
      [canResend]="false" (customResend)="onCustomResend($event)" (verifyOtp)="verifyOtp($event)">
    </app-otp-verification>
  </ng-template>
</ng-container>

<ng-container *ngIf="isSuccess">
  <div class="login_wrapper animated fadeInRight">
    <div class="popup-wrapper">
      <div class="image-wrap">
        <img src="assets/images/ic_confirm.svg" alt="Image" />
      </div>
      <h3 class="title">Reset Link</h3>
      <p>An email has been sent to your registered email ID. Please follow the instructions to reset your password</p>
      <div class="btn-wrap">
        <button [routerLink]="['LOGIN'|absolutePath]" type="button" class="primary-btn">Go to Login</button>
      </div>
    </div>
  </div>
</ng-container>
