<div class="jobs-wrapper">
    <div class="breadcrumbs">
        <ul>   
            <li><a>Staffing</a></li>
            <li><a>Jobs</a></li>
            <li><a>Ongoing Jobs</a></li>
            <li>Details</li>
        </ul>
    </div>
    <h3 class="page-title">Jobs Details</h3>
    <div class="jobs-details">
        <div class="inner">
            <div class="top-info">
                <div class="name-info">
                    <h3>Intern Programmer</h3>
                    <p>Maximoz Team</p>
                </div>
                <div class="action-wrap">
                    <ul>
                        <li><span>Hiring</span></li>
                        <li><a class="edit"><img src="assets/icons/edit.svg" alt="Icon"/></a></li>
                        <li><a class="delete"><img src="assets/icons/trash.svg" alt="Icon"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="location">
                <p><img src="assets/icons/Location-red.svg" alt="Image"/> Kuala Lampur, Malaysia</p>
            </div>
            <div class="basic-details">
                <div class="info">
                    <img src="assets/icons/duration-icon.svg" alt="image"/>
                    <span>0-6 Months</span>
                </div>
                <div class="info">
                    <img src="assets/icons/working-hours.svg" alt="image"/>
                    <span>3-4 Per Day</span>
                </div>
                <div class="info">
                    <img src="assets/icons/work-field.svg" alt="image"/>
                    <span>Data Entry, Cloud, English</span>
                </div>
            </div>
            <div class="content-info">
                <div class="inner-info">
                    <p>Takes dictation in shorthand of correspondence, reports, and other matter, and operates typewriter to transcribe dictated material.May perform stenographic duties in professional office and be designated Legal <a>Read More</a></p>
                </div>
            </div>
            <div class="bottom-info">
                <div class="info">
                    <p>Proposal</p>
                    <div class="value-area">
                        <strong>42</strong> <span class="btn-bg">4 New</span>
                    </div>
                </div>
                <div class="info">
                    <p>Shortlisted</p>
                    <div class="value-area">
                        <strong>0</strong>
                    </div>
                </div>
                <div class="info">
                    <p>Hired</p>
                    <div class="value-area">
                        <strong>0</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="worker-details">
            <h3>Worker Details</h3>
            <div class="flex-row">
                <div class="col-6">
                    <div class="inner">
                        <div class="worker-info">
                            <div class="user-info">
                                <div class="top-wrap">
                                    <div class="img-name">
                                        <figure>
                                            <img src="assets/images/worker-img.png" alt="Image"/>
                                        </figure>
                                        <div class="name">
                                            <label>Name</label>
                                            <p>Jhonathan Doe</p>
                                        </div>
                                    </div>
                                    <div class="action">
                                        <a class="delete"><img src="assets/icons/trash.svg" alt="Icon"/></a>
                                    </div>
                                </div>
                                <div class="job-date">
                                    <div class="job-info">
                                        <label>Job Start Date</label>
                                        <p>Jan 20, 2021</p>
                                    </div>
                                    <div class="job-info">
                                        <label>Job End Date</label>
                                        <p>Jan 20, 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-details-wrap">
                            <div class="inner-details">
                                <button type="button" class="primary-btn">View Timesheet</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="inner">
                        <div class="worker-info">
                            <div class="user-info">
                                <div class="top-wrap">
                                    <div class="img-name">
                                        <figure>
                                            <img src="assets/images/worker-img.png" alt="Image"/>
                                        </figure>
                                        <div class="name">
                                            <label>Name</label>
                                            <p>Jhonathan Doe</p>
                                        </div>
                                    </div>
                                    <div class="action">
                                        <a class="delete"><img src="assets/icons/trash.svg" alt="Icon"/></a>
                                    </div>
                                </div>
                                <div class="job-date">
                                    <div class="job-info">
                                        <label>Job Start Date</label>
                                        <p>Jan 20, 2021</p>
                                    </div>
                                    <div class="job-info">
                                        <label>Job End Date</label>
                                        <p>Jan 20, 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-details-wrap">
                            <div class="inner-details">
                                <button type="button" class="primary-btn">View Timesheet</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="inner">
                        <div class="worker-info">
                            <div class="user-info">
                                <div class="top-wrap">
                                    <div class="img-name">
                                        <figure>
                                            <img src="assets/images/worker-img.png" alt="Image"/>
                                        </figure>
                                        <div class="name">
                                            <label>Name</label>
                                            <p>Jhonathan Doe</p>
                                        </div>
                                    </div>
                                    <div class="action">
                                        <a class="delete"><img src="assets/icons/trash.svg" alt="Icon"/></a>
                                    </div>
                                </div>
                                <div class="job-date">
                                    <div class="job-info">
                                        <label>Job Start Date</label>
                                        <p>Jan 20, 2021</p>
                                    </div>
                                    <div class="job-info">
                                        <label>Job End Date</label>
                                        <p>Jan 20, 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-details-wrap">
                            <div class="inner-details">
                                <button type="button" class="primary-btn">View Timesheet</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="inner">
                        <div class="worker-info">
                            <div class="user-info">
                                <div class="top-wrap">
                                    <div class="img-name">
                                        <figure>
                                            <img src="assets/images/worker-img.png" alt="Image"/>
                                        </figure>
                                        <div class="name">
                                            <label>Name</label>
                                            <p>Jhonathan Doe</p>
                                        </div>
                                    </div>
                                    <div class="action">
                                        <a class="delete"><img src="assets/icons/trash.svg" alt="Icon"/></a>
                                    </div>
                                </div>
                                <div class="job-date">
                                    <div class="job-info">
                                        <label>Job Start Date</label>
                                        <p>Jan 20, 2021</p>
                                    </div>
                                    <div class="job-info">
                                        <label>Job End Date</label>
                                        <p>Jan 20, 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-details-wrap">
                            <div class="inner-details">
                                <button type="button" class="primary-btn">View Timesheet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>