.jobs-wrapper{
    .breadcrumbs{
        ul{
            li{
                
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                color: #14B1BD;
                display: inline-block;
                vertical-align: middle;
                margin-right:10px;
                a{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    color: #969BA0;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "/";
                        font-size: 18px;
                        color: #969BA0;
                        right: -10px;
                        top: -2px;
                    }
                }
            }
        }
    }
    .page-title{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: #000000;
        margin-bottom:15px;
    }
    .inner{
        background: #FFFFFF;
        border: 1px solid #DBE2EA;
        border-radius: 10px;
        margin-bottom:10px;
        .top-info{
            padding:25px 20px 0;
            display: flex;
            align-items: flex-start;
            .name-info{
                max-width:50%;
                flex:0 50%;
                h3{
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.4;
                    color: #000000;
                    margin-bottom:0;
                }
                p{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #797979;
                }
            }
            .action-wrap{
                max-width:50%;
                flex:0 50%;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    li{
                        margin-left:10px;
                        &:first-child{
                            margin-right:10px;
                        }
                        span{
                            min-width: 62px;
                            height: 26px;
                            padding: 4px 12px;
                            background: rgba(36, 116, 255, 0.05);
                            border: 1px solid rgba(36, 116, 255, 0.15);
                            border-radius: 2px;
                            display: flex;
                            align-items: center;
                            justify-content:center;
                            font-size: 14px;
                            color: #14B1BD;
                        }
                        a{
                            padding: 8px;
                            width: 36px;
                            height: 36px;
                            background: #F3F3F3;
                            border-radius: 8px;
                            display:flex;
                            align-items:center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
        .location {
            padding: 0 15px;
            margin-bottom:15px;
            p{
                display: flex;
                align-items: center;
                img{
                    margin-right:5px;
                }
            }
        }
        .basic-details{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:0 20px 15px;
            .info{
                display: flex;
                align-items: center;
                img{
                    margin-right:5px;
                }
                span{
                    font-size: 14px;
                    line-height: 17px;
                    color: #231E1E;
                }
            }
        }
        .content-info{
            padding:0 20px 15px;
            .inner-info{
                padding-top:10px;
                border-top:solid 1px #DBE2EA;  
                p{
                    font-size: 14px;
                    line-height: 1.4;
                    color: #6E6B6B;
                    a{
                        color:#14B1BD;
                        text-decoration: underline;
                    }
                }              
            }
        }
        .bottom-info{
            padding:15px 20px 20px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .info{
                p{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    color: #6E6B6B;
                    margin-bottom:5px;
                }
                .value-area{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    strong{
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.4;
                        color: #231E1E;
                    }
                    .btn-bg{
                        width: 48px;
                        height: 22px;
                        padding: 4px 8px;
                        margin-left:10px;
                        background: #3CB641;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 11px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    .worker-details{
        h3{
            margin-bottom:5px;
        }
        .flex-row{
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .col-6{
                max-width: 50%;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                padding:0 15px;
                .inner{
                    background: #FFFFFF;
                    border: 1px solid #DBE2EA;
                    border-radius: 10px;
                    margin-bottom: 30px;
                    .worker-info{
                        padding:20px;
                        .user-info{
                            .top-wrap{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding-bottom:15px;
                                .img-name{
                                    display: flex;
                                    align-items: center;
                                    figure{
                                        width:64px;
                                        height:64px;
                                        border-radius:50%;
                                        overflow: hidden;
                                        img{
                                            width:100%;
                                            height:100%;
                                            object-fit: cover;
                                            object-position: center center;
                                        }
                                    }
                                }
                                .name{
                                    padding-left:10px;
                                    label{
                                        font-size: 12px;
                                        font-weight: 500;
                                        line-height: 14px;
                                        color: #6E6B6B;
                                    }
                                    p{
                                        font-size: 16px;
                                        font-weight:700;
                                        color: #231E1E;
                                    }
                                }
                                .action{
                                    .delete{
                                        width: 36px;
                                        height: 36px;
                                        padding: 8px;
                                        background: #F3F3F3;
                                        border-radius: 8px;
                                        display:flex;
                                        align-items:center;
                                        justify-content: center;
                                    }
                                }
                            }
                            .job-date{
                                display: flex;
                                align-items: flex-start;
                                margin:0 -15px;
                                .job-info{
                                    padding:0 15px;
                                    label{
                                        font-size: 12px;
                                        font-weight: 500;
                                        line-height: 14px;
                                        color: #6E6B6B;
                                    }
                                    p{
                                        font-size: 16px;
                                        font-weight:700;
                                        line-height: 1.2;
                                        color: #231E1E;
                                        margin-bottom:0;
                                    }
                                }
                            }
                        }
                    }
                    .view-details-wrap{
                        border-top:solid 1px #DBE2EA;
                        padding:20px;
                        .inner-details{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}