<div class="jobs-wrapper">
    <div class="breadcrumbs">
        <ul>
            <li><a>Stafing</a></li>
            <li>Jobs</li>
        </ul>
    </div>
    <h3 class="page-title">Jobs</h3>
    <div class="filter-wrap">
        <div class="search-calendar">
            <div class="flex-row">
                <div class="col-6">
                    <mat-form-field class="example-form-field" appearance="outline">
                        <input matInput type="text" placeholder="Search by Job Title" >
                        <button matSuffix class="search-btn">
                            <img src="assets/icons/Settings-white.svg" alt="Icon"/> <span>Button Text</span>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <div class="flex-row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="From">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="To">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-filter">
            <div class="flex-row">
                <div class="col-6">
                    <div class="flex-row">
                        <div class="col-6">
                            <mat-label>Location</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select">
                                  <mat-option>Option First</mat-option>
                                  <mat-option>Option Second</mat-option>
                                  <mat-option>Option Third</mat-option>
                                  <mat-option>Option Fourth</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-label>Role</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select">
                                  <mat-option>Option First</mat-option>
                                  <mat-option>Option Second</mat-option>
                                  <mat-option>Option Third</mat-option>
                                  <mat-option>Option Fourth</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex-row">
                        <div class="col-6">
                            <mat-label>Skills</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select">
                                  <mat-option>Option First</mat-option>
                                  <mat-option>Option Second</mat-option>
                                  <mat-option>Option Third</mat-option>
                                  <mat-option>Option Fourth</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-label>Shift Time</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select">
                                  <mat-option>Option First</mat-option>
                                  <mat-option>Option Second</mat-option>
                                  <mat-option>Option Third</mat-option>
                                  <mat-option>Option Fourth</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-section">
        <mat-tab-group>
            <mat-tab label="Job Opening">
                <div class="header">
                    <div class="flex-row">
                        <div class="col-6">
                            <h3>Showing 246 Jobs Results</h3>
                            <p>Based on your preferences</p>
                        </div>
                        <div class="col-6">
                            <div class="select-wrap">
                                <div class="inner-wrap">
                                    <mat-form-field appearance="outline">
                                        <mat-select placeholder="Select">
                                            <mat-option>Option First</mat-option>
                                            <mat-option>Option Second</mat-option>
                                            <mat-option>Option Third</mat-option>
                                            <mat-option>Option Fourth</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-content">
                    <div class="flex-row">
                        <div class="col-6">
                            <div class="inner">
                                <div class="top-info">
                                    <div class="name-info">
                                        <h3>Intern Programmer</h3>
                                        <p>Maximoz Team</p>
                                    </div>
                                    <div class="action-wrap">
                                        <ul>
                                            <li><span>Hiring</span></li>
                                            <li><a class="edit"><img src="assets/icons/edit.svg" alt="Icon"/></a></li>
                                            <li><a class="delete"><img src="assets/icons/trash.svg" alt="Icon"/></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="location">
                                    <p><img src="assets/icons/Location-red.svg" alt="Image"/> Kuala Lampur, Malaysia</p>
                                </div>
                                <div class="basic-details">
                                    <div class="info">
                                        <img src="assets/icons/duration-icon.svg" alt="image"/>
                                        <span>0-6 Months</span>
                                    </div>
                                    <div class="info">
                                        <img src="assets/icons/working-hours.svg" alt="image"/>
                                        <span>3-4 Per Day</span>
                                    </div>
                                    <div class="info">
                                        <img src="assets/icons/work-field.svg" alt="image"/>
                                        <span>Data Entry, Cloud, English</span>
                                    </div>
                                </div>
                                <div class="content-info">
                                    <div class="inner-info">
                                        <p>Takes dictation in shorthand of correspondence, reports, and other matter, and operates typewriter to transcribe dictated material.May perform stenographic duties in professional office and be designated Legal <a>Read More</a></p>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="info">
                                        <p>Proposal</p>
                                        <div class="value-area">
                                            <strong>42</strong> <span class="btn-bg">4 New</span>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>Shortlisted</p>
                                        <div class="value-area">
                                            <strong>0</strong>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>Hired</p>
                                        <div class="value-area">
                                            <strong>0</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-details-wrap">
                                    <div class="inner-details">
                                        <button type="button" class="primary-btn">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="inner">
                                <div class="top-info">
                                    <div class="name-info">
                                        <h3>Intern Programmer</h3>
                                        <p>Maximoz Team</p>
                                    </div>
                                    <div class="action-wrap">
                                        <ul>
                                            <li><span>Hiring</span></li>
                                            <li><a class="edit"><img src="assets/icons/edit.svg" alt="Icon"/></a></li>
                                            <li><a class="delete"><img src="assets/icons/trash.svg" alt="Icon"/></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="location">
                                    <p><img src="assets/icons/Location-red.svg" alt="Image"/> Kuala Lampur, Malaysia</p>
                                </div>
                                <div class="basic-details">
                                    <div class="info">
                                        <img src="assets/icons/duration-icon.svg" alt="image"/>
                                        <span>0-6 Months</span>
                                    </div>
                                    <div class="info">
                                        <img src="assets/icons/working-hours.svg" alt="image"/>
                                        <span>3-4 Per Day</span>
                                    </div>
                                    <div class="info">
                                        <img src="assets/icons/work-field.svg" alt="image"/>
                                        <span>Data Entry, Cloud, English</span>
                                    </div>
                                </div>
                                <div class="content-info">
                                    <div class="inner-info">
                                        <p>Takes dictation in shorthand of correspondence, reports, and other matter, and operates typewriter to transcribe dictated material.May perform stenographic duties in professional office and be designated Legal <a>Read More</a></p>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="info">
                                        <p>Proposal</p>
                                        <div class="value-area">
                                            <strong>42</strong> <span class="btn-bg">4 New</span>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>Shortlisted</p>
                                        <div class="value-area">
                                            <strong>0</strong>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>Hired</p>
                                        <div class="value-area">
                                            <strong>0</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-details-wrap">
                                    <div class="inner-details">
                                        <button type="button" class="primary-btn">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="inner">
                                <div class="top-info">
                                    <div class="name-info">
                                        <h3>Intern Programmer</h3>
                                        <p>Maximoz Team</p>
                                    </div>
                                    <div class="action-wrap">
                                        <ul>
                                            <li><span>Hiring</span></li>
                                            <li><a class="edit"><img src="assets/icons/edit.svg" alt="Icon"/></a></li>
                                            <li><a class="delete"><img src="assets/icons/trash.svg" alt="Icon"/></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="location">
                                    <p><img src="assets/icons/Location-red.svg" alt="Image"/> Kuala Lampur, Malaysia</p>
                                </div>
                                <div class="basic-details">
                                    <div class="info">
                                        <img src="assets/icons/duration-icon.svg" alt="image"/>
                                        <span>0-6 Months</span>
                                    </div>
                                    <div class="info">
                                        <img src="assets/icons/working-hours.svg" alt="image"/>
                                        <span>3-4 Per Day</span>
                                    </div>
                                    <div class="info">
                                        <img src="assets/icons/work-field.svg" alt="image"/>
                                        <span>Data Entry, Cloud, English</span>
                                    </div>
                                </div>
                                <div class="content-info">
                                    <div class="inner-info">
                                        <p>Takes dictation in shorthand of correspondence, reports, and other matter, and operates typewriter to transcribe dictated material.May perform stenographic duties in professional office and be designated Legal <a>Read More</a></p>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="info">
                                        <p>Proposal</p>
                                        <div class="value-area">
                                            <strong>42</strong> <span class="btn-bg">4 New</span>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>Shortlisted</p>
                                        <div class="value-area">
                                            <strong>0</strong>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>Hired</p>
                                        <div class="value-area">
                                            <strong>0</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-details-wrap">
                                    <div class="inner-details">
                                        <button type="button" class="primary-btn">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="inner">
                                <div class="top-info">
                                    <div class="name-info">
                                        <h3>Intern Programmer</h3>
                                        <p>Maximoz Team</p>
                                    </div>
                                    <div class="action-wrap">
                                        <ul>
                                            <li><span>Hiring</span></li>
                                            <li><a class="edit"><img src="assets/icons/edit.svg" alt="Icon"/></a></li>
                                            <li><a class="delete"><img src="assets/icons/trash.svg" alt="Icon"/></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="location">
                                    <p><img src="assets/icons/Location-red.svg" alt="Image"/> Kuala Lampur, Malaysia</p>
                                </div>
                                <div class="basic-details">
                                    <div class="info">
                                        <img src="assets/icons/duration-icon.svg" alt="image"/>
                                        <span>0-6 Months</span>
                                    </div>
                                    <div class="info">
                                        <img src="assets/icons/working-hours.svg" alt="image"/>
                                        <span>3-4 Per Day</span>
                                    </div>
                                    <div class="info">
                                        <img src="assets/icons/work-field.svg" alt="image"/>
                                        <span>Data Entry, Cloud, English</span>
                                    </div>
                                </div>
                                <div class="content-info">
                                    <div class="inner-info">
                                        <p>Takes dictation in shorthand of correspondence, reports, and other matter, and operates typewriter to transcribe dictated material.May perform stenographic duties in professional office and be designated Legal <a>Read More</a></p>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="info">
                                        <p>Proposal</p>
                                        <div class="value-area">
                                            <strong>42</strong> <span class="btn-bg">4 New</span>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>Shortlisted</p>
                                        <div class="value-area">
                                            <strong>0</strong>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>Hired</p>
                                        <div class="value-area">
                                            <strong>0</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-details-wrap">
                                    <div class="inner-details">
                                        <button type="button" class="primary-btn">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Ongoing Job"> Content 2 </mat-tab>
            <mat-tab label="Completed Jobs"> Content 3 </mat-tab>
            <mat-tab label="Draft"> Content 3 </mat-tab>
        </mat-tab-group>
    </div>
</div>