.login_wrapper {
  width: 504px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .login_wrapper {
    width: 100%;
  }
}

.login_wrapper .signup-option {
  margin-left: -20px;
}

.login_wrapper .wrap {
  margin-bottom: 30px;
}

.login_wrapper .wrap .page_title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.23;
  text-align: left;
  color: #14B1BD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-bottom: 10px;
}

.login_wrapper .sub_heading {
  opacity: 0.85;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  color: #232323;
  word-break: break-word;
}

.login_wrapper .checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.login_wrapper .checkbox-wrap .checkbox-inner {
  margin-bottom: 15px;
  position: relative;
}

.login_wrapper .checkbox-wrap .checkbox-inner .mat-error {
  left: 38px;
  top: 18px;
}

.login_wrapper .checkbox-wrap .inner-text {
  color: #14B1BD;
}

.login_wrapper .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 875px) and (min-width: 768px) {
  .login_wrapper .flex-row.top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login_wrapper .flex-row.top-row .form_group {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
  }
}

@media (max-width: 576px) and (min-width: 320px) {
  .login_wrapper .flex-row.top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login_wrapper .flex-row.top-row .form_group {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
  }
}

.login_wrapper .flex-row .form_group {
  max-width: 33.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 33.33%;
          flex: 0 33.33%;
  padding: 0 5px;
}

.login_wrapper .btn_wrapper {
  margin: 20px 0;
}

.login_wrapper .accnt_desc {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #283b42;
  margin-bottom: 0;
}

.login_wrapper .text_right {
  display: block;
  text-align: right;
}

.login_wrapper .other_login {
  font-size: 12px;
  color: #727272;
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  margin: 20px 0;
}

.login_wrapper .other_login:after {
  width: 35%;
  height: 1px;
  background: #727272;
  opacity: 0.3;
  position: absolute;
  content: "";
  right: 0;
  top: 9px;
}

@media (max-width: 480px) {
  .login_wrapper .other_login:after {
    width: 30%;
  }
}

@media (max-width: 375px) {
  .login_wrapper .other_login:after {
    width: 25%;
  }
}

.login_wrapper .other_login::before {
  width: 35%;
  height: 1px;
  background: #727272;
  opacity: 0.3;
  position: absolute;
  content: "";
  left: 0;
  top: 9px;
}

@media (max-width: 480px) {
  .login_wrapper .other_login::before {
    width: 30%;
  }
}

@media (max-width: 375px) {
  .login_wrapper .other_login::before {
    width: 25%;
  }
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

:host ::ng-deep .cstm_input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

:host ::ng-deep .cstm_input_wrapper .cstm_dropdwn {
  width: 85px;
}

.radio_sec_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.btn-wrap {
  margin-bottom: 15px;
}

.btn-wrap .login-btn {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background: #14B1BD;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
}

.btn-wrap .login-btn:disabled {
  background: #E7EDF3;
  color: #231E1E;
}

.remember-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.remember-me a {
  font-size: 14px;
  line-height: 18px;
  color: #14B1BD;
}

.info p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #231E1E;
}

.info p a {
  color: #14B1BD;
}
/*# sourceMappingURL=signup.component.css.map */