$thm: #14B1BD;
$primary: #14B1BD;
$black: #000000;
$gry: #828282;
$drkgry: #27303f;
$drkcolor: #e02342;
$bg: #f7f7f7;
//-- color variables --
$font: 'Lato', sans-serif;
$font2: 'Raleway';
//default colors

$white : #ffffff;
$yellow: #e8e759;
$blue: #0e224a;
$grey: gray;
$link: #e17582;
$red: #c40000;
$green: #3ca455;
$info:#25a9e0;
$lightgray : #bcbcbc;
$warning:#ffc107;
$status_green: #007600;
$status_red: #c40000;