:host ::ng-deep {
  .cstm_input_wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    .icon-wrap {
      width: 45px;
      padding: 0 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: solid 1px #f5f6f8;
      border-right: solid 1px #f5f6f8;
      margin-left: 5px;
      img {
        width: 30px;
        height: 20px;
      }
    }
    .cstm_dropdwn {
      width: 100px;
      position: relative;
    }
  }
  .cstm_input_wrapper {
    .mat-form-field-subscript-wrapper {
      position: absolute;
      top: 100%;
    }
    .mat-error {
      top: 100%;
      margin-top: 3px;
    }
  }
}
.scroll_y {
  max-width: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.right-input {
  width: calc(100% - 85px);
}
