.profile-wrapper {
  .breadcrumbs {
    ul {
      li {
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        line-height: 22px;
        color: #14B1BD;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        @media (max-width: 1024px) {
          font-size: 13px;
        }
        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 20px;
        }
        a {
          font-size: 14px;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          line-height: 22px;
          color: #969ba0;
          position: relative;
          @media (max-width: 1024px) {
            font-size: 13px;
          }
          @media (max-width: 767px) {
            font-size: 12px;
            line-height: 20px;
          }
          &::before {
            position: absolute;
            content: "/";
            font-size: 18px;
            color: #969ba0;
            right: -10px;
            top: -2px;
            @media (max-width: 1024px) {
              font-size: 17px;
            }
            @media (max-width: 767px) {
              font-size: 16px;
              right: -9px;
            }
          }
        }
      }
    }
  }
  .page-title {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 28px;
    color: #000000;
    margin-bottom: 15px;
    @media (max-width: 1024px) {
      margin-bottom: 10px;
      font-size: 18px;
    }
    @media (max-width: 767px) {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 20px;
    }
  }
  @media (max-width: 1024px) {
    .col-6 {
      width: 100%;
      padding: 0;
    }
  }
  @media (max-width: 767px) {
    .col-6 {
      width: 100%;
      padding: 0;
    }
  }
}

// updated css
.inner_main_wrapper {
  // background: #fff;
  // border-radius: 10px;
  // padding: 0;
  // border: 1px solid #dbe2ea;
  .sec_main_wrapper {
    background: #fff;
    border-radius: 10px;
    padding: 0;
    border: 1px solid #dbe2ea;
    margin-top: 20px;
    @media (max-width: 1024px) {
      margin-top: 17px;
    }
    @media (max-width: 767px) {
      margin-top: 15px;
    }
    .setting-wrapper {
      .sub-section-wrap {
        padding: 25px 20px;
      }
    }
    .sec_wrapper {
      padding: 25px 20px;
      border-bottom: 1px solid #dbe2ea;
      &.has-banner {
        padding: 135px 20px 25px;
      }
      @media (max-width: 1024px) {
        padding: 20px;
      }
      @media (max-width: 767px) {
        padding: 15px;
      }
      &:last-of-type {
        border-bottom: 0;
      }
      .sec_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 15px;
        position: relative;
        @media (max-width: 1024px) {
          margin: 0 0 13px;
        }
        @media (max-width: 767px) {
          margin: 0 0 12px;
        }
        &.company-docoment {
          justify-content: center;
        }
        &.company-profile {
          margin: 70px 0 15px;
          @media (max-width: 1024px) {
            margin: 80px 0 15px;
          }
          @media (max-width: 767px) {
            margin: 15px 0 15px;
          }
        }
        .sec_title {
          font-size: 20px;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          line-height: 1.4;
          margin-bottom: 0;
          @media (max-width: 1024px) {
            font-size: 18px;
          }
          @media (max-width: 767px) {
            font-size: 16px;
          }
          &.white-text {
            color: #fff;
          }
          .tag {
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.24px;
            color: #f44336;
            padding: 6px 8px;
            border-radius: 5px;
            background-color: #ffe3e1;
            margin-left: 10px;
            @media (max-width: 767px) {
              display: block;
              text-align: center;
              margin-top: 10px;
              margin-left: 0;
            }
            @media (max-width: 480px) {
              display: block;
              text-align: center;
              margin-top: 10px;
              margin-left: 0;
            }
          }
        }
        .edit_btn {
          width: 40px;
          height: 40px;
          padding: 5px;
          border-radius: 50%;
          border: solid 1px rgba(150, 165, 184, 0.3);
          background-color: rgba(243, 243, 243, 0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 767px) {
            padding: 4px;
          }
        }
      }
      .company_img {
        width: 135px;
        height: 135px;
        margin-bottom: 25px;
        position: relative;
        background-color: #dbe2ea;
        border-radius: 50%;
        overflow: hidden;
        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100%;
        }
      }
      .info_wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        .info {
          width: 33%;
          margin-bottom: 20px;
          @media (max-width: 1024px) {
            width: 50%;
            margin-bottom: 15px;
          }
          @media (max-width: 991px) {
            width: 50%;
          }
          @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 10px;
          }
          @media (max-width: 480px) {
            width: 100%;
          }
          &.full_width {
            width: 100%;
          }
          .key {
            color: #96a5b8;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            @media (max-width: 1024px) {
              font-size: 14px;
            }
            @media (max-width: 767px) {
              font-size: 13px;
            }
            img {
              margin-right: 5px;
            }
          }
          .value {
            color: #231e1e;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            margin-bottom: 0;
            padding-left: 4px;
            display: flex;
            align-items: center;
            @media (max-width: 767px) {
              font-size: 13px;
            }
            img {
              margin-left: 5px;
            }
          }
        }
      }

      .chip_wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        @media (max-width: 1024px) {
          justify-content: center;
        }
        @media (max-width: 767px) {
          justify-content: center;
        }
        .chip {
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.57;
          color: #6e6b6b;
          padding: 5px 16px;
          border-radius: 17px;
          box-shadow: 0 2px 4px 0 rgb(44 39 56 / 8%),
            0 1px 2px 0 rgb(44 39 56 / 0%);
          border: 1px solid #dbe2ea;
          margin-right: 20px;
          margin-bottom: 20px;
        }
        .uploded_box_wrapper {
          width: 215px;
          height: 215px;
          border: 1px solid #dbe2ea;
          padding: 24px 44px;
          padding-bottom: 0;
          border-radius: 10px;
          margin-right: 20px;
          margin-bottom: 20px;
          @media (max-width: 1024px) {
            padding: 24px 40px;
            &:last-child {
              margin-right: 0;
            }
          }
          @media (max-width: 767px) {
            margin-right: 0px;
            margin-bottom: 10px;
            padding: 24px 38px;
          }
          .upload_preview {
            width: 135px;
            height: 165px;
            margin: 0 auto;
            .log-img {
              margin-bottom: 0;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .text {
            color: #96a5b8;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }

      // change-password-tab
      .new-password-text {
        display: flex;
        @media (max-width: 767px) {
          flex-direction: column;
        }
      }
      .password-content {
        display: flex;
        flex-direction: column;
        &.margin-right {
          margin-right: 32px;
          @media (max-width: 1024px) {
            margin-right: 25px;
          }
          @media (max-width: 767px) {
            margin-right: 0;
          }
        }
      }
      .button-area {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        button {
          font-size: 16px;
          font-family: 'Lato', sans-serif;
          font-weight: 600;
          height: 51px;
          @media (max-width: 1024px) {
            font-size: 15px;
            height: 50px;
          }
          @media (max-width: 767px) {
            font-size: 14px;
            height: 48px;
          }
          &.cancel-btn {
            width: 144px;
            color: #f44336;
            background-color: #ffffff;
            border-radius: 6px;
            border: 1px solid rgba(150, 165, 184, 0.5);
          }
          &.update-password-btn {
            width: 220px;
            color: #ffffff;
            background-color: #14B1BD;
            border-radius: 6px;
          }
        }
      }
    }

    // faq-tab
    .faq-accordian-content {
      p {
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        line-height: 1.5;
        color: #292e5f;
        @media (max-width: 1024px) {
          font-size: 15px;
          line-height: 1.4;
        }
        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }

    // term-condition-tab-content,privacy-policy-tab-content
    .terms-conditions-content-area,
    .privacy-policy-tab-content {
      padding: 16px 24px;
      background-color: rgba(36, 116, 255, 0.05);
      border-radius: 4px;
      @media (max-width: 767px) {
        padding: 16px;
      }
      p {
        margin-bottom: 20px;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        color: #6e6b6b;
        // color: #231e1e;
        line-height: 1.5;
        @media (max-width: 1024px) {
          margin-bottom: 15px;
          font-size: 14px;
          line-height: 1.4;
        }
        @media (max-width: 767px) {
          margin-bottom: 10px;
          font-size: 13px;
          line-height: 1.4;
        }
      }
      h3 {
        margin-bottom: 23px;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        color: #231e1e;
        line-height: 1.4;
        @media (max-width: 1024px) {
          margin-bottom: 15px;
          font-size: 19px;
        }
        @media (max-width: 767px) {
          margin-bottom: 10px;
          font-size: 18px;
        }
      }
    }
  }
}

.upload-outer {
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #96a5b8;
    @media (max-width: 1024px) {
      font-size: 15px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 1.4;
      text-align: center;
    }
  }
}
:host ::ng-deep {
  .cstm_tabs_wrapper {
    .mat-tab-label {
      font-size: 16px;
      color: #6e6b6b;
      @media (max-width: 767px) {
        font-size: 15px;
        padding: 0 15px;
      }
    }

    .mat-tab-label-active {
      .mat-tab-label-content {
        color: #14B1BD !important;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        opacity: 1;
      }
    }
    .mat-tab-label {
      height: 60px;
      @media (max-width: 1024px) {
        height: 55px;
      }
      @media (max-width: 767px) {
        height: 50px;
      }
    }
  }
  .password-tab-content {
    .mat-form-field {
      width: 449px;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      padding: 0;
    }
    mat-label {
      margin-bottom: 5px;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      color: #6e6b6b;
      @media (max-width: 767px) {
        font-size: 13px;
      }
    }
    .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
      width: 449px;
      height: 52px;
      margin-bottom: 24px;
      padding: 0;
      font-size: 16px;
      color: #2c2738;
      @media (max-width: 1024px) {
        margin-bottom: 15px;
        font-size: 15px;
      }
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
    .mat-form-field
      .mat-form-field-wrapper
      .mat-form-field-flex
      .mat-form-field-infix {
      width: 401px;
      height: 52px;
      @media (max-width: 767px) {
        width: 96%;
      }
    }
    .mat-form-field-appearance-outline .mat-form-field-suffix {
      right: 12px;
      top: 0;
    }
    .mat-form-field
      .mat-form-field-wrapper
      .mat-form-field-flex
      .mat-form-field-infix
      .mat-input-element {
      width: 401px;
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      color: #2c2738;
      @media (max-width: 1024px) {
        font-size: 15px;
      }
      @media (max-width: 767px) {
        font-size: 14px;
        width: 95%;
      }
    }
    .mat-form-field .mat-form-field-subscript-wrapper {
      margin-bottom: 0;
    }
  }
  .faq-accordian-content {
    .mat-expansion-panel-header {
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      @media (max-width: 1024px) {
        font-size: 15px;
      }
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
      .mat-expansion-panel-header:hover {
      background: transparent;
    }

    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
      margin-bottom: 8px;
      font-size: 16px;
      color: #292e5f;
      box-shadow: none;
      background-color: rgba(36, 116, 255, 0.05);
      border-radius: 4px;
      border: 1px solid #dfebff;
    }
    .mat-expansion-panel-header.mat-expanded:focus,
    .mat-expansion-panel-header.mat-expanded:hover {
      background: transparent;
    }
    .mat-expansion-panel-header {
      padding: 0px 16px;
    }
    .mat-expansion-panel-header-title {
      margin-right: 0;
      justify-content: flex-start;
    }
    .mat-expansion-panel-header-description {
      margin-right: 0;
      justify-content: flex-end;
    }
    .mat-icon {
      color: #14B1BD;
      // font-weight:bold;
    }
  }
}

.log-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  margin-bottom: 15px;
  .pdf_icon {
    width: 50px !important;
    height: 61px !important;
    margin: auto;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center center;
  }
  .mat-icon {
    position: absolute;
    top: -16px;
    right: -16px;
    z-index: 99;
    width: 32px;
    height: 32px;
    background: #fc0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}

.underdevelopment {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.flex {
  display: flex;
  margin: 0;
}
.company-banner-image {
  width: 100%;
  height: 224px;
  position: absolute;
  left: 0;
  top: 0;
  @media (max-width: 1024px) {
    height: 223px;
  }
  @media (max-width: 767px) {
    height: 180px;
  }
  .edit_btn {
    padding: 5px;
    border-radius: 12px;
    border: solid 1px rgba(150, 165, 184, 0.3);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 9;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

.section-title {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #231e1e;
    margin-bottom: 0;
  }
  .edit_btn {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    border: solid 1px rgba(150, 165, 184, 0.3);
    background-color: rgba(243, 243, 243, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      padding: 4px;
    }
  }
}

.profile-status {
  min-width: 80px;
  height: 32px;
  border-radius: 4px;
  // background: #e9ffea;
  // color: #4caf50;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}

.preview_img_wrapper {
  display: flex;
  // align-items: flex-start;
  // flex-wrap: wrap;
  // width: calc(100% - 200px);
  @media (max-width: 1024px) {
    width: calc(100% - 160px);
  }
  .preview_img {
    box-shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.04);
    border: solid 1px #dbe2ea;
    background-color: #fff;
    width: 200px;
    height: 200px;
    margin: 0 0 20px 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    @media (max-width: 1024px) {
      width: 160px;
      height: 160px;
    }
    &:last-of-type {
      margin-right: 0;
    }
    .file_name {
      margin-bottom: 0;
      font-size: 11px;
      font-weight: 800;
      white-space: nowrap;
      max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .preview_icon {
      width: 32px;
      height: auto;
      margin-bottom: 10px;
    }
    .delete {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
  }
}

.qr-text{
  font-size:12px;
  font-weight:500;
  line-height:18px;
  color:#858585;
  margin-bottom:0;
}
.counter-value{
  span{
    font-size:24px;
    font-weight:700;
    line-height:36px;
    color:#FF9800;
  }
}
.qr-section{
  min-height:438px;
  padding:20px;
}
.qr-area{
  width:245px;
  height:245px;
  margin: 50px auto 0;
  overflow: hidden;
  figure{
    width:100%;
    height:100%;
    img{
      width:100%;
      height:100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
.help-header{
  height:40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .help-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #231E1E
  }
  .filter-add-wrap{
    display: flex;
    align-items: flex-start;
    .select-wrap{
      width:100px;
    }
    .create-btn{
      height: 40px;
      padding: 0px 16px;
      border:solid 1px #14B1BD;
      background:#fff;
      border-radius: 6px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #14B1BD;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      margin-left:15px;
    }
  }
}
.request-listing{
  padding-top:20px;
  .list-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid #EEEEF4;
    padding:20px 0 15px;
    .list-info{
      h3{
        font-size: 16px;
        line-height: 24px;
        color: #231E1E;
        margin-bottom:0;
        .request-status{
          padding: 6px 8px;
          height: 28px;
          border-radius: 4px;
          align-items: center;
          font-size:12px;
          line-height:18px;
          display: inline-block;
          vertical-align:middle;
          margin-left:10px;
          &.open{
            background: #FDF5F7;
            color:#EF5279;
          }
          &.closed{
            background: #F1F1F1;
            color:#000;
          }
        }
      }
      p{
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #6E6B6B;
        display: flex;
        align-items: center;
        span{
          margin:0 5px;
          width: 4px;
          height: 4px;
          border-radius:50%;
          background: #C4C4C4;
        }
      }
    }
    .view-details{
      height: 36px;
      padding: 0px 16px;
      background: #14B1BD;
      border-radius: 6px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }
}