:host ::ng-deep {
    .common_search_wrapper{
       width: 100%;
       @media(max-width: 1280px) {
           width: 100%;
       }
        .mat-input-element {
            font-size: 14px;
            font-family: "lato", sans-serif;
        }
        .mat-form-field-prefix, .mat-form-field-suffix {
           
            top: 4px;
            right: -7px;
            color: red;
        }
        .mat-form-field {
            margin-bottom: 0;
        }
        .mat-form-field-appearance-outline .mat-form-field-wrapper {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
            margin-top: 0;
            padding: 0;
            box-shadow: 0 4px 8px 0 rgb(44 39 56 / 4%);
            background: rgba(219, 226, 234, 0.4);
            border-radius: 4px;
        }
        .mat-form-field-suffix {
            white-space: nowrap;
            flex: none;
            position: relative;
            // border: solid 1px rgba(150, 165, 184, 0.2);
            // background-color: rgba(255, 255, 255, 0.3);
            top: 5px;
            right: 6px;
            padding: 5px;
            border-radius: 100%;
            color: #14B1BD;
            font-size: 15px;
        }
    }   
}